*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Mulish", sans-serif;
  font-weight: 600;

  background-color: #121214;

  padding: 72px 104px;

  display: grid;
  justify-content: center;
}

main{
  display: grid;
  grid-template-columns: repeat(3,370px);

  gap: 48px 60px;

  margin-top: 62px;
}

h1,h2{
  font-weight: 900;
}

header h1{
  color: #02799D;
  line-height:58px ;
  font-size: 73px;

}

header p{
  color: #E1E1E6;
  line-height:34px ;
  font-size: 40px;

  margin-top: 10px;
}

.card{
  background-color: #202024;

  border-radius: 8px;
  border: 2px solid #323238;

  overflow: hidden;
}

.card h2{
  color: #E1E1E6;
  font-size: 34px;
  line-height: 44px;

  padding: 24px 22px 0;
}

.card p{
  color: #C4C4CC;
  font-size: 18px;
  line-height: 24px;

  padding: 24px 22px 38px;
}

